/* fonts */
@font-face {
  font-family: "Geo";
  src:
    url("../fonts/Lexend.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@media (max-width: 1200px) {
  html { font-size: 24px; }
}

body {
  font-family: "Geo", sans-serif;
  background-color: var(--background-color);
  color: var(--primary-color);
  padding: 20px;
  line-height: 1.5;
}