.board {

    border: 5px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 0 auto;

}

.row {
    display: flex;
}

.cell {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cell.white {
    background-color: white;
}

.cell.black {
    background-color: #2f2f2f;
}

.cell .highlight-overlay {
    width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cell.valid {
    cursor: pointer;
}

.cell.valid .highlight-overlay {
    background-color: rgba(0, 255, 0, 0.7);
}

.cell.capture {
    cursor: pointer;
}

.cell.capture .highlight-overlay {
    background-color: rgba(255, 0, 0, 0.7);
}

.cell.blocked {
    cursor: not-allowed;
}

.cell.blocked .highlight-overlay {
    background-color: rgba(255, 255, 0, 0.7);
}

.cell.selected {
    cursor: pointer;
}

.cell.selected .highlight-overlay {
    background-color: rgba(0, 0, 255, 0.7);
    animation: pulse 1s infinite;
}

.cell form {
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cell img {
    width: 64px;
    height: 64px;
    image-rendering: pixelated;
    cursor: pointer;
}

.piece-shop {
    width: 64px;
    height: 64px;
    image-rendering: pixelated;
    cursor: pointer;
}

.piece-shop-row {
    justify-content: center;
    margin-top: 3rem;
}